affine
asttokens
attrs
azure-identity==1.25.0
azure-mgmt-datafactory==9.1.0
azure-mgmt-resource==23.2.0
azure-storage-blob
azure-storage-file==2.1.0
azure-storage-file-datalake==12.21.0
azure-storage-file-share==12.22.0
babel==2.16.0
beautifulsoup4
bitarray
bitstring
blinker==1.9.0
bokeh
branca
Brotli
cached-property
cartopy
cdsapi==0.7.5
certifi
cffi
cfgrib==0.9.14.0
cftime
charset-normalizer
cleo==2.1.0
click
click-plugins
cligj
cloudpickle
colorama
comm
contextily
contourpy
crashtest==0.4.1
cryptography
cycler
cytoolz
dask
datapi==0.1.2
dateparser==1.2.0
debugpy
decorator
dill
distributed
earthpy
eccodes==1.7.1
ecmwflibs==0.6.3
exceptiongroup
executing
feedparser
findlibs==0.0.5
fiona==1.10.1
Flask==3.1.0
flexcache
flexparser
folium
fonttools
fsspec
geographiclib
geopandas
geopy
greenlet==3.1.1
h2
h5netcdf==1.6.3
h5py
hpack
hyperframe
idna
imagecodecs
imageio
importlib_metadata
installer==0.7.0
ipykernel
ipython
ipython_pygments_lexers
isodate
itsdangerous==2.2.0
jedi
Jinja2==3.1.5
joblib
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client
jupyter_core
kiwisolver
lark==1.2.2
lazy_loader
llvmlite==0.44.0
locket
lxml==6.0.0
lz4
mapclassify
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline
mercantile
msal==1.33.0
msal-extensions==1.3.1
msgpack
multiprocess
multiurl==0.3.3
munkres==1.1.4
narwhals
nest_asyncio
netCDF4==1.7.2
networkx
numba
numpy==2.2.6
packaging
pandas
parso
partd
pathos
patsy
pexpect==4.9.0
pickleshare
pillow
pint
platformdirs
poetry-plugin-export==1.6.0
portalocker==2.10.1
pox
ppft
prompt_toolkit
psutil
ptyprocess==0.7.0
pure_eval
pyarrow==21.0.0
pybufrkit
pycountry
pycparser
pydantic==1.10.20
pygeoapi==0.19.0
pygeofilter==0.3.1
pygeoif==1.5.1
Pygments
PyJWT==2.10.1
pyogrio
pyparsing
pyproj
pyshp
PySocks
python-dotenv==1.1.1
python-dateutil
pytz
PyWavelets==1.8.0
PyYAML==6.0.2
pyzmq
rasterio==1.4.3
rasterstats
referencing==0.35.1
regex==2024.11.6
requests
requests-toolbelt==1.0.0
rioxarray
rpds-py==0.22.3
rtree
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
scikit-image
scikit-learn==1.7.1
scipy==1.16.0
sgmllib3k
shapely
shellingham==1.5.4
simplejson
six
snuggs
sortedcontainers
soupsieve
SQLAlchemy==2.0.36
stack_data
stackstac==0.5.1
statsmodels
tblib
threadpoolctl
tifffile
tinydb==4.8.2
toolz
tornado
tqdm==4.67.1
traitlets
typing_extensions
tzdata
tzlocal==5.2
unicodedata2
urllib3
wcwidth
Werkzeug==3.1.3
xarray
xgboost
xyzservices
zict
zipp
zstandard==0.23.0
