##################
## RUN SETTINGS ##
##################


#############
## SECRETS ##
#############

AZURE_CLIENT_ID = " "
AZURE_CLIENT_SECRET = " "
AZURE_TENANT_ID = " "
IBF_API_URL = ' '

DATALAKE_STORAGE_ACCOUNT_NAME = ' '
DATALAKE_STORAGE_ACCOUNT_KEY = ' '
DATALAKE_API_VERSION = '2018-11-09'


# API-service access
ADMIN_LOGIN = ' '
ADMIN_PASSWORD=' '


 





